.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
  max-width: 1200px; 
  margin: 0 auto; 
  margin-bottom: 2rem;
}

.grid-rectangular {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem; 
  max-width: 1200px; 
  margin: 0 auto; 
  margin-bottom: 2rem;
}

.product-card {
  position: relative;
  width: 100%;
  max-width: 300px; 
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-card-rectangular {
  max-width: 100%; 
  aspect-ratio: 4 / 3; 
}

.product-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.product-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1a202c;
}

.product-price {
  font-size: 1rem;
  font-weight: 500;
  color: #4a5568;
}

.product-description {
  font-size: 0.875rem;
  color: #718096;
  margin-top: 0.5rem;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
  margin-left: 90px;
  margin-bottom: 5rem;
}

.search-input {
  width: 100%;
  padding: 0.75rem 2.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 9999px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  color: #555; 
  cursor: pointer; 
}

.search-input:focus {
  border-color: #a5a5a5;
}

.sidebar {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Устанавливаем максимальную ширину для панели */
}

/* Заголовок секции */
.sidebar h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem; /* Увеличиваем отступ снизу для лучшего разделения секций */
}

/* Лейблы и чекбоксы */
.checkbox-group1 label,
.checkbox-label label {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem; /* Увеличиваем отступ между лейблами */
}

.checkbox-group1 input[type="checkbox"],
.checkbox-label input[type="checkbox"] {
  accent-color: #f44336;
  margin-right: 0.75rem;
}

.filter-section {
  margin-bottom: 1.5rem;
}

.filter-section label {
  font-size: 1rem; 
  font-weight: 500;
  color: #4a5568;
}

.filter-section input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  margin-top: 0.5rem;
}


.filter-section input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #f44336;
  border-radius: 50%;
  cursor: pointer;
}

.filter-section input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #f44336;
  border-radius: 50%;
  cursor: pointer;
}