@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .image-slide-in {
    animation: slideInFromLeft 2s ease-out forwards;
  }
  
  .text-slide-in {
    animation: slideInFromRight 2s ease-out forwards;
  }
  
  @media (max-width: 768px) {
    .products-carousel .slick-slide {
      padding: 0 10px;
    }
  
    .products-carousel .slick-slide img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .products-carousel .slick-slide {
      padding: 0 20px;
    }
  }