@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes reverse-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes alternate-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .animate-steering-wheel {
    animation: alternate-spin 4s ease-in-out infinite;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -45%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: none; 
}

.navbar-menu.open {
  display: flex; 
}

.navbar-menu-toggle {
  display: block;
}

@media (min-width: 1026px) {
  .navbar-menu {
    display: flex; 
    flex-direction: row; 
    margin: 0; 
  }

  .navbar-menu-toggle {
    display: none; 
  }

  .navbar-menu a {
    margin: 0 1rem; 
  }

  .navbar {
    justify-content: space-between; 
  }
}

.navbar-menu a {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: orange;
}

.navbar-logo svg {
  margin-right: 0.5rem; 
}

